*.pem
*.key
*.crt
docker_images/*
build_image/*

# MySQL / data volumes
**/mysql-volume/
app_data/
atomp-bundle/
atomp-bundle.tar.gz
tester40-client.tar.gz
atomp-fixes/

# Heavy image archives
initial_app_data_folder.zip
df/*.tar.gz
ATOMID_Deployment/*.tar.gz
setup_mysql_redis/*.tar.gz
nginx/*.tar.gz
logs/

# OS junk
.DS_Store
._*

# Logs
*.log
backup_db/backupdb.log

# Node
node_modules/
