[Unit]
Description=User Misplaced
Wants=network-online.target
After=network-online.target
After=NetworkManager-wait-online.service
StartLimitIntervalSec=0
User=root   # WRONG section

[Service]
ExecStart=/bin/true
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
