[Unit]
	Description=Tabs and Spaces
	Wants=network-online.target
	After=network-online.target
	After=NetworkManager-wait-online.service
	StartLimitIntervalSec=0

[Service]
	User=root
	ExecStart=/bin/true
	Restart=always
	RestartSec=5

[Install]
	WantedBy=multi-user.target
